{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 140,
    "semi": true,
    "singleQuote": false,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
